<h4>分类列表</h4>
    <hr>
    {% for category in site.categories %}
    <li class="category_list_item">
        <a href="javascript:void(window.location.href=encodeURI('/category.html?cat={{ category | first }}'))">{{ category | first }}</a>
         ({{ category | last | size }})
    </li>
    {% endfor %}

<!--
var articleList = [{% for post in site.posts %}
<span style="white-space:pre"></span>
{"title":"{{post.title}}", "url":"{{site.url}}{{post.url}}",
<span style="white-space:pre"></span>
"date":"{{ post.date | date:'%Y-%m-%d' }}",
"excerpt": '{{ post.excerpt | strip_html | strip_newlines | truncate:170 }}'
{% if post.categories != empty %},
"categories":[{% for category in post.categories %}"{{category}}"{% if forloop.last == false %},{% endif %}{% endfor %}]{% endif %}}
{% if forloop.last == false %},{% endif %}{% endfor %}];
-->
