body {padding: 20px;}
table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
td, th {
    padding: 0;
}
th {
    text-align: left;
}
table>thead>tr>th, table>tbody>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #ddd;
}
table>thead>tr>th {
  vertical-align: bottom;
}
table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9; // 偶数行改变背景色
}
